/* static/style.css */
body {
    background-color: #f8f9fa;
}

.jumbotron {
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.card {
    transition: transform .2s; /* Animation */
}
.card:hover {
    transform: scale(1.02);
}